.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.center{
  display: table;
  margin: auto;
}

.table-movie{
  border: 2px solid black;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: auto;
}

.table-movie thead td{
  font-weight: bold;
  background-color: #AAAAAA;
  text-align: center;
}
.table-movie tbody td{
  background-color: #FF7F50;
  text-align: left;
}
.table-movie td:first-child{
  width: 300px;
}
.table-movie tbody td{
  width: 170px;
}

.form-movie td:first-child{
  text-align: left;
}

button{
  cursor: pointer;
}

.font-times{
  font-family: 'Times New Roman', Times, serif;
}
#tugas12{
  width: 700px;
}
