@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body{
    background-image: url('img/pattern.jpg');
    font-family: 'Slabo 27px', serif;
}
a{
    text-decoration: none;
}

header{
    background-color: white;
    position: fixed;
    top: 0;  left: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
}
header nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0 15px;
    font-weight: bold;
}
header nav ul li{
    float: left;
    margin-left: 30px;
}

section{
    margin: 65px 12% 10px 12%;
    background-color: white;
    padding: 10px 20px;
}
h1{
    text-align: center;
}
div#article-list > div::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}
div#article-list > div{
    margin-top: 50px;
}

footer{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 40px;
}
